.st-head {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #cccccc;
  font-family: "monospace";
}
.row-supplier {
  background-color: #444444;
  color: #cccccc;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 1.4em;
}
.row-category {
  background-color: #ffffff;
  color: #444444;
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: bold;
}
.row-item {
  background-color: #cccccc;
  color: #222222;
  margin-top: 2px;
  margin-bottom: 2px;
}

@media print {
  .row-supplier {
    font-size: 1.2em;
    border-bottom: 2px solid black;
  }
  .row-item {
    border-bottom: 1px solid lightgray;
  }
}